<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>de.extragroup.jellyfish</string>
    <key>CFBundleName</key>
    <string>Jellyfish</string>
    <key>CFBundleDisplayName</key>
    <string>Jellyfish</string>
    <key>CFBundleExecutable</key>
    <string>Jellyfish</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(APP_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(BUILD_NUMBER)</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSInputMonitoringUsageDescription</key>
    <string>Jellyfish benötigt Eingabeüberwachung, um Textkürzel zu erkennen und automatisch zu expandieren.</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>Jellyfish benötigt Bedienungshilfen-Zugriff, um Textkürzel zu erkennen und automatisch zu expandieren.</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
</dict>
</plist>
